In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_bobby = pd.read_csv('https://raw.githubusercontent.com/chefdarek/hotel-app/master/assets/Reviews_bobby_100.csv')
df_virgin = pd.read_csv('https://raw.githubusercontent.com/chefdarek/hotel-app/master/assets/Reviews_virgin_100.csv')

In [52]:
df_b = df_bobby.copy()
df_v = df_virgin.copy()

In [53]:
def clean_df(df):
    df = df.drop(['reviewTags', 'businessUrl','place_id','input','images','address'],axis=1 )
    return df

In [54]:
df_b = clean_df(df_b)
df_v = clean_df(df_v)

In [55]:
df_b.columns.to_list()

['author',
 'reviewBody',
 'reviewRating',
 'ratingMaxvalue',
 'dateCreated',
 'reviewUrl',
 'reviewSource',
 'orginalText',
 'name',
 'reviewCount',
 'aggregateRating']

In [70]:
no_review_count = df_b[df_b['reviewBody'].isna()].count()
# no_reviewBody review ratings 
df_b[df_b['reviewBody'].isna()].describe()

       reviewRating  ratingMaxvalue  reviewCount
count     24.000000            24.0         24.0
mean       4.666667             5.0        656.0
std        0.916831             0.0          0.0
min        1.000000             5.0        656.0
25%        5.000000             5.0        656.0
50%        5.000000             5.0        656.0
75%        5.000000             5.0        656.0
max        5.000000             5.0        656.0